# Azure Document Intelligence
AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=
AZURE_DOCUMENT_INTELLIGENCE_KEY=
AZURE_POLL_TIMEOUT_SECONDS=180

# OCR engines
DOCLING_OCR=true
AZURE_OCR=false

# NER models
GLINER_LARGE=true
GLINER_MEDIUM=true
GLINER_LOW=true
DISTILROBERTA_BASE_NER=true
